# ==========================
# Python
# ==========================
__pycache__/
*.py[cod]
*$py.class

# ==========================
# Virtual Environment
# ==========================
.venv/
venv/
env/

# ==========================
# SQLite
# ==========================
*.db-journal

# SQLiteバックアップ
*.db-shm
*.db-wal

# ==========================
# Logs
# ==========================
logs/*.log
logs/*.html

# ==========================
# VS Code
# ==========================
.vscode/

# ==========================
# OS
# ==========================
.DS_Store
Thumbs.db
desktop.ini